<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955285183165-51lo2l1f3r33mcrbnt2ufa6fm23pbusj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955285183165-51lo2l1f3r33mcrbnt2ufa6fm23pbusj</string>
	<key>API_KEY</key>
	<string>AIzaSyCHilTOLyIQ4iW7APqDS3Y9UqeZCYLLfUk</string>
	<key>GCM_SENDER_ID</key>
	<string>955285183165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pfsi</string>
	<key>PROJECT_ID</key>
	<string>a-9018f</string>
	<key>STORAGE_BUCKET</key>
	<string>a-9018f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955285183165:ios:caa7c389bf222c9cb875d4</string>
</dict>
</plist>